# Global Environment Variables Example
# Duplicate this file as .env and update values appropriately

# Shared Variables (if any)
NODE_ENV=development

# Backend Variables
PORT=8000
DATABASE_URL="postgresql://user:password@localhost:5432/hackathon_db?schema=public"

# Frontend Variables
NEXT_PUBLIC_API_URL="http://localhost:8000/api"
